{% load i18n %}
<div class="header_container">
    <div class="menu_left">
        <h1><a class="user_id {% if request.resolver_match.url_name == 'home' %}current-page{% endif %}" href="{% url 'home' %}">Brice Petit</a></h1>
    </div>
    <div class="menu_right">
        <a class="Skills {% if request.resolver_match.url_name == 'skills' %}current-page{% endif %}" href="{% url 'skills' %}">{% trans "Skills" %}</a>
        <a class="Academic {% if request.resolver_match.url_name == 'academic' %}current-page{% endif %}" href="{% url 'academic' %}">{% trans "Academic" %}</a>
        <a class="Education {% if request.resolver_match.url_name == 'education' %}current-page{% endif %}" href="{% url 'education' %}">{% trans "Education & Work Experience" %}</a>
        <!-- Language Selector for Static Site -->
        <div class="language-selector">
            <select id="language-select" class="language-select">
                <option value="fr">FR</option>
                <option value="en">EN</option>
            </select>
        </div>
    </div>
</div>